<!DOCTYPE HTML>
<html>
<head>
    <title>原生ajax提交</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>

<div><a id="ajax" href="javascript:void(0);">原生ajax提交</a></div>
<div><p class="append"></p></div>

<p>
    <input type="text" name="verify" placeholder="输入验证码">
    <img src="{:U('home/index/verifyCode')}" alt="验证码" title="点击刷新" style="cursor: pointer" onclick="this.src+='';">
</p>

<div class="form-group">
    <label class="red-tip col-xs-12">验证码</label>
    <div class="col-xs-7">
        <input type="text" name="checkCode" class="form-control" placeholder="旧号码所获验证码">
    </div>
    <div class="col-xs-5" style="text-align: left;">
        <button class="btn btn-default" type="button" id="get-auth-code">获取</button>
    </div>
    <p class='col-xs-12' style="display: none;" id="check-code-msg"></p>
</div>

</body>
<script type="text/javascript" src="__PUBLIC__/common/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/common/echarts/echarts.min.js"></script>
<script type="text/javascript">
    jQuery(function () {
        $('#ajax').click(function () {
            var data = 'name=yc';               //提交数据
            var xhr;
            if (window.XMLHttpRequest) {
                xhr = new XMLHttpRequest();     //非IE内核，创建一个ajax对象
            } else if (window.ActiveXObject) {
                //IE内核,这里早期IE的版本写法不同,具体可以查询下
                XHR = new ActiveXObject("Microsoft.XMLHTTP");
            } else {
                XHR = null;
            }
            xhr.open('POST', '{:U("index/ajax")}', true);   //
            xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded'); //设置请求头
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    if (xhr.status == 200) {
                        $data = JSON.parse(xhr.responseText);
                        $('.append').html($data.name);
                    }
                }
            };
            xhr.send(data);   //发送请求
        });

        $('#get-auth-code').click(function () {
            timeInterval();
        });

        //js倒计时
        function timeInterval() {
            var code_button = document.getElementById('get-auth-code');
            var time_out = 60;
            var timeText;
            var interval = setInterval(function () {
                code_button.disabled = true;
                timeText = time_out + 'S';
                code_button.innerHTML = timeText;
                time_out--;
                if (time_out == -1) {
                    code_button.innerHTML = '重新发送';
                    clearInterval(interval);
                    code_button.disabled = false;
                    time_out = 60;
                }
            }, 1000);
        }

    });
</script>
</html>