<!DOCTYPE html>
<html>
<head>
    <title>新闻添加</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/style.css" />
    <script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/jquery.sorted.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/ckform.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/common.js"></script>
</head>
<body>
<form action="{:U('news/add')}" method="post" class="definewidth m20">
    <table class="table table-bordered table-striped table-hover definewidth m5">
        <tr>
            <td width="10%" class="tableleft">标题</td>
            <td><input type="text" name="title" value="{$result['title']}"/></td>
        </tr>
        <tr>
            <td class="tableleft">内容</td>
            <td><textarea name="content" cols="80" rows="10">{$result['content']}</textarea></td>
        </tr>

        <tr>
            <td class="tableleft">状态</td>
            <td>
                <input type="radio" name="status" value="0" checked/> 启用
                <input type="radio" name="status" value="9" /> 禁用
            </td>
        </tr>
        <tr>
            <td class="tableleft"></td>
            <td>
                <button type="submit" class="btn btn-primary" type="button">新增</button>&nbsp;&nbsp;
                <a href="{:U('news/index')}" class="btn btn-success">返回列表</a>
            </td>
        </tr>
    </table>
</form>
</body>
</html>