.profile-container .container {
  margin-top: 30px;
  padding-bottom: 80px;
}
.profile-container .container .row {
  overflow: hidden;
}
.profile-container .container .row .card-list {
  min-height: 100px;
  background: #fff;
  border-radius: 3px;
  margin-bottom: -10000px;
  padding-bottom: 10000px;
}
.profile-container .container .row .card-list .list-container {
  padding: 0 0 10px 0;
}
.profile-container .container .row .card-list .list-container > li {
  line-height: 1em;
}
.profile-container .container .row .card-list .list-container > li > .title {
  padding: 18px 0;
  border-bottom: 1px solid #e5e5e5;
}
.profile-container .container .row .card-list .list-container > li > .title span {
  padding-left: 15px;
  font-size: 16px;
}
.profile-container .container .row .card-list .list-container > li .special-icon {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 10px;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* Internet Explorer */
  -moz-transform: rotate(90deg);
  /* Firefox */
  -webkit-transform: rotate(90deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(90deg);
  /* Opera */
  color: #666;
}
.profile-container .container .row .card-list .list-container > li .special-icon i {
  font-size: 12px;
  color: #999;
}
.profile-container .container .row .card-list .list-container > li .item-lists {
  padding-left: 0;
}
.profile-container .container .row .card-list .list-container > li .item-lists li {
  border-bottom: 1px solid #e5e5e5;
  font-size: 14px;
  color: #666;
  position: relative;
  background: #F5F5F5;
}
.profile-container .container .row .card-list .list-container > li .item-lists li a {
  display: block;
  line-height: 1em;
  padding: 15px;
  color: #666;
}
.profile-container .container .row .card-list .list-container > li .item-lists li:hover {
  background: #F5F5F5;
  border-left: 2px solid #188EEE;
}
.profile-container .container .row .card-list .list-container > li .item-lists li:hover a {
  color: #188EEE;
}
.profile-container .container .row .card-list .list-container > li .item-lists li.active {
  border-left: 2px solid #188EEE;
}
.profile-container .container .row .card-list .list-container > li .item-lists li.active a {
  color: #188EEE;
}
.profile-container .container .row .card-list .card-content {
  padding: 20px 10px;
}
.profile-container .container .row .card-list .card-content .content-title {
  font-size: 16px;
  color: #1F2B3F;
  position: relative;
  padding-left: 12px;
  line-height: 1em;
  margin-bottom: 15px;
}
.profile-container .container .row .card-list .card-content .content-title:before {
  content: '';
  width: 5px;
  height: 5px;
  background: #E5E5E5;
  position: absolute;
  bottom: 0;
  left: 0;
}
.profile-container .container .row .card-list .card-content .tab-container {
  width: 50%;
  background: #fff;
  overflow: hidden;
  margin-left: 25%;
  border-radius: 1.3em;
  border: 1px solid #e5e5e5;
  margin-bottom: 30px;
}
@media (max-width: 700px) {
  .profile-container .container .row .card-list .card-content .tab-container {
    width: 100% !important;
    margin-left: 0;
  }
}
.profile-container .container .row .card-list .card-content .tab-container .tab {
  width: 33.33333%;
  float: left;
  position: relative;
}
.profile-container .container .row .card-list .card-content .tab-container .tab:before {
  content: '';
  width: 1px;
  height: 2.6em;
  background: #e5e5e5;
  position: absolute;
  right: 0;
  top: 0;
}
.profile-container .container .row .card-list .card-content .tab-container .tab:last-of-type:before {
  display: none;
}
.profile-container .container .row .card-list .card-content .tab-container .tab.active {
  background: #EEF5FF;
}
.profile-container .container .row .card-list .card-content .tab-container .tab a {
  display: block;
  line-height: 2.6em;
  color: #188EEE;
  font-size: 14px;
}
.profile-container .container .row .card-list .card-content .container-content .content-block {
  display: none;
}
.profile-container .container .row .card-list .card-content .form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
.profile-container .container .row .card-list .card-content .form-horizontal .form-group .control-label {
  color: #666;
  font-size: 14px;
  font-weight: 100;
}
.profile-container .container .row .card-list .card-content .form-horizontal .form-group .bang-tip {
  font-size: 12px;
  color: #999;
  margin-left: 10px;
}
.profile-container .container .row .card-list .card-content .form-horizontal .form-group .bang-tip.red {
  color: red;
}
.profile-container .container .row .card-list .card-content .form-horizontal .form-group select {
  margin-right: 10px;
}
.profile-container .container .row .card-list .card-content .form-horizontal .form-group .avator-container {
  overflow: hidden;
}
.profile-container .container .row .card-list .card-content .form-horizontal .form-group .avator-container .avator {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.profile-container .container .row .card-list .card-content .form-horizontal .form-group .avator-container .avator-content {
  display: table-cell;
  padding-left: 10px;
  padding-top: 10px;
}
.profile-container .container .row .card-list .card-content .form-horizontal .form-group .avator-container .avator-content p {
  line-height: 1em;
}
.profile-container .container .row .card-list .card-content .form-horizontal .form-group .avator-container .avator-content p:last-of-type {
  color: #999;
  font-size: 14px;
}
.profile-container .container .row .card-list .card-content .form-horizontal .form-group .file-btn-container {
  width: 66px;
  height: 28px;
  border: 1px solid #33AFFC;
  overflow: hidden;
  margin-top: 10px;
  position: relative;
  color: #188EEE;
  text-align: center;
  line-height: 26px;
  font-size: 12px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}
.profile-container .container .row .card-list .card-content .form-horizontal .form-group .file-btn-container input {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}
.profile-container .container .row .card-list .card-content .form-horizontal .form-group .radio-container .radio-inline {
  color: #666;
  margin-right: 20px;
}
.profile-container .container .row .card-list .card-content .table-cell {
  border: 1px solid #DDE6F5;
  padding: 20px 25px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
.profile-container .container .row .card-list .card-content .table-cell .pull-left {
  width: 40px;
  height: 40px;
  line-height: 38px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid #188EEE;
}
.profile-container .container .row .card-list .card-content .table-cell .pull-left i {
  color: #188EEE;
  font-size: 25px;
}
.profile-container .container .row .card-list .card-content .table-cell .icon-right-content {
  display: table-cell;
  padding-left: 20px;
  width: 100%;
  margin-right: 110px;
}
.profile-container .container .row .card-list .card-content .table-cell .icon-right-content p {
  line-height: 1em;
  overflow: hidden;
}
.profile-container .container .row .card-list .card-content .table-cell .icon-right-content p span {
  font-size: 14px;
}
.profile-container .container .row .card-list .card-content .table-cell .icon-right-content p span.active-font {
  font-size: 16px;
  margin-right: 20px;
}
.profile-container .container .row .card-list .card-content .table-cell .icon-right-content p .change-pwd {
  color: #999;
  font-size: 14px;
  margin-left: 20px;
  line-height: 1em;
  overflow: hidden;
}
.profile-container .container .row .card-list .card-content .table-cell .icon-right-content p:last-of-type {
  color: #999999;
  font-size: 14px;
}
.profile-container .container .row .card-list .card-content .table-cell .btns {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 98px;
}
.profile-container .container .row .card-list .card-content .table-cell .btns .busionline-btn {
  width: 98px;
  height: 38px;
  border: 1px solid #1889FA;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-right: 20px;
  display: block;
  text-align: center;
}
.profile-container .container .row .card-list .card-content .table-cell .btns .busionline-btn.btn-full {
  background: #1889FA;
  color: #fff;
}
.profile-container .container .row .card-list .card-content .table-cell .btns .busionline-btn.btn-full:hover {
  background: #1889FA !important;
  color: #fff;
}
.profile-container .container .row .card-list .card-content .btn-container {
  padding-left: 20px;
  padding-bottom: 30px;
  padding-top: 20px;
}
.profile-container .container .row .card-list .card-content .btn-container .busionline-btn {
  width: 98px;
  height: 38px;
  border: 1px solid #1889FA;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-right: 20px;
}
.profile-container .container .row .card-list .card-content .btn-container .busionline-btn.btn-full {
  background: #1889FA;
  color: #fff;
}
.profile-container .container .row .card-list .card-content .btn-container .busionline-btn.btn-insert {
  background: #fff;
  color: #188EEE;
}
.profile-container .container .row .card-list .card-content .btn-container .busionline-btn.btn-insert:hover {
  background: #1889FA;
  color: #fff;
}
.profile-container .container .row .card-list .card-content .table-container {
  border: 1px solid #DCE6F4;
  padding: 40px 10px;
  position: relative;
}
.profile-container .container .row .card-list .card-content .table-container:before {
  content: '我的班级';
  height: 32px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background: #EEF5FF;
  line-height: 32px;
  font-size: 14px;
  color: #0086FE;
  padding-left: 20px;
  border-bottom: 1px solid #DCE6F4;
}
.profile-container .container .row .card-list .card-content .table-container .table-responsive .table th {
  font-weight: 100;
  border-bottom-width: 1px;
  border-top-width: 0;
  text-align: center;
}
.profile-container .container .row .card-list .card-content .table-container .table-responsive .table th.text-left {
  text-align: left;
  font-size: 12px;
  color: #666;
  border: 0;
}
.profile-container .container .row .card-list .card-content .table-container .table-responsive .table th .datepacker-container {
  margin-bottom: 30px;
}
.profile-container .container .row .card-list .card-content .table-container .table-responsive .table th .datepacker-container label {
  font-weight: 100;
  margin-right: 20px;
}
.profile-container .container .row .card-list .card-content .table-container .table-responsive .table th .datepacker-container label:last-of-type {
  margin-left: 20px;
}
.profile-container .container .row .card-list .card-content .table-container .table-responsive .table th .datepacker-container .btn {
  margin-left: 20px;
  background: #eef5ff;
  border-color: #dce6f4;
  color: #0086FE;
  padding: 6px 20px;
}
.profile-container .container .row .card-list .card-content .table-container .table-responsive .table td {
  border: none;
  border-top: 1px solid #ddd !important;
  text-align: center;
}
.profile-container .container .row .card-list .card-content .table-container .table-responsive .table td .link-btn {
  padding: 0 10px;
  position: relative;
}
.profile-container .container .row .card-list .card-content .table-container .table-responsive .table td .link-btn:last-of-type:before {
  display: none;
}
.profile-container .container .row .card-list .card-content .table-container .table-responsive .table td .link-btn:before {
  content: '';
  width: 1px;
  height: 14px;
  background: #e5e5e5;
  position: absolute;
  right: 0;
  top: 2px;
}
.profile-container .container .row .card-list .card-content .table-responsive .table-bordered th {
  text-align: center;
  font-weight: 100;
  border-bottom-width: 1px;
  background: #EEF5FF;
  color: #0086FE;
}
.profile-container .container .row .card-list .card-content .table-responsive .table-bordered td {
  border: none;
  border-top: 1px solid #ddd !important;
  text-align: center;
}
.profile-container .container .row .card-list .card-content .table-responsive .table-bordered td.text-left {
  text-align: left !important;
  font-size: 12px;
  color: #666;
}
.profile-container .container .row .card-list .card-content .table-responsive .table-bordered td .link-btn {
  padding: 0 10px;
  position: relative;
}
.profile-container .container .row .card-list .card-content .table-responsive .table-bordered td .link-btn:last-of-type:before {
  display: none;
}
.profile-container .container .row .card-list .card-content .table-responsive .table-bordered td .link-btn:before {
  content: '';
  width: 1px;
  height: 14px;
  background: #e5e5e5;
  position: absolute;
  right: 0;
  top: 2px;
}
.profile-container .container .row .card-list .card-content .pages-container li {
  border: none;
}
.profile-container .container .row .card-list .card-content .pages-container li a,
.profile-container .container .row .card-list .card-content .pages-container li span {
  border: none;
  color: #333;
}
.profile-container .container .row .card-list .card-content .pages-container li.disabled {
  color: #999;
}
.profile-container .container .row .card-list .card-content .pages-container li:hover a,
.profile-container .container .row .card-list .card-content .pages-container li:hover span {
  border-bottom: 1px solid #0086FE;
}
.profile-container .container .row .card-list .card-content .pages-container li.active a,
.profile-container .container .row .card-list .card-content .pages-container li.active span {
  color: #fff;
  background: #0086FE;
}
.profile-container .container .row .card-list .card-content .pages-container li.active a:hover,
.profile-container .container .row .card-list .card-content .pages-container li.active span:hover,
.profile-container .container .row .card-list .card-content .pages-container li.active a:focus,
.profile-container .container .row .card-list .card-content .pages-container li.active span:focus {
  background: #0086FE !important;
}
.profile-container .container .row .card-list .card-content .account-img-container {
  overflow: hidden;
  margin-bottom: 20px;
}
.profile-container .container .row .card-list .card-content .account-img-container .account-img {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.profile-container .container .row .card-list .card-content .account-img-container .account-content {
  display: table-cell;
}
.profile-container .container .row .card-list .card-content .account-img-container .account-content p {
  line-height: 1em;
  padding-left: 10px;
}
.profile-container .container .row .card-list .card-content .account-img-container .account-content p:first-of-type {
  margin-top: 30px;
  font-size: 16px;
  margin-bottom: 20px;
}
.profile-container .container .row .card-list .card-content .account-img-container .account-content p:last-of-type span {
  margin-right: 30px;
}
.profile-container .container .row .card-list .card-content .account-content-container {
  border: 1px solid #DDE6F5;
  padding: 20px 20px;
  margin-bottom: 20px;
}
.profile-container .container .row .card-list .card-content .account-content-container table {
  width: 100%;
}
.profile-container .container .row .card-list .card-content .account-content-container table td {
  position: relative;
}
.profile-container .container .row .card-list .card-content .account-content-container table td:before {
  content: '';
  width: 1px;
  height: 30px;
  background: #ccc;
  position: absolute;
  right: 0;
  top: 5px;
}
.profile-container .container .row .card-list .card-content .account-content-container table td:last-of-type:before {
  display: none;
}
.profile-container .container .row .card-list .card-content .account-content-container table td:first-of-type,
.profile-container .container .row .card-list .card-content .account-content-container table td:last-of-type {
  width: 30%;
}
.profile-container .container .row .card-list .card-content .account-content-container table td p {
  font-size: 12px;
  line-height: 1em;
  margin-bottom: 10px;
  color: #333;
}
.profile-container .container .row .card-list .card-content .account-content-container table td p:last-of-type {
  font-size: 16px;
  color: #0086FE;
  margin-bottom: 0;
}
.profile-container .container .row .card-list .card-content .account-content-container table td .link-btn {
  display: block;
  width: 100px;
  height: 40px;
  background: #1889FA;
  color: #fff;
  text-align: center;
  line-height: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.profile-container .container .row .card-list .card-content .account-content-container table td .link-btn:hover {
  background: #1889FA !important;
}
.profile-container .container .row .card-list .card-content .account-content-container table td .link-btn i {
  margin-right: 5px;
}
@media (min-width: 960px) {
  .profile-container .container .row .col-md-9 {
    padding-left: 0;
  }
}
.profile-container .modal-content {
  box-shadow: none;
  border: none;
  border-radius: 0;
}
.profile-container .modal-content .modal-header {
  border-bottom: none;
}
.profile-container .modal-content .modal-header .close {
  position: absolute;
  right: 10px;
  top: 10px;
}
.profile-container .modal-content .modal-body {
  padding-top: 10px;
}
.profile-container .modal-content .modal-body .modal-content-title {
  border-bottom: 1px solid #e5e5e5;
  color: #333;
  font-size: 16px;
  line-height: 2.0em;
}
.profile-container .modal-content .modal-body .tips {
  line-height: 1em;
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 12px;
  color: #666;
}
.profile-container .modal-content .modal-body .red-tip {
  color: #FA594D;
  font-size: 13px;
  line-height: 1em;
  margin: 20px 0 10px 0;
}
.profile-container .modal-content .modal-body input {
  width: 100%;
  font-size: 12px;
  padding-left: 10px;
}
.profile-container .modal-content .modal-body .insert-btn-container {
  padding-left: 0 !important;
}
.profile-container .modal-content .modal-body .insert-btn-container .btn-full {
  width: 100% !important;
}
.profile-container .modal-content .modal-body .simple-input {
  height: 42px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  line-height: 42px;
  padding-left: 10px;
  position: relative;
}
.profile-container .modal-content .modal-body .simple-input span {
  color: #999;
  font-size: 14px;
}
.profile-container .modal-content .modal-body .simple-input .file-btn-container {
  width: 58px;
  height: 32px;
  background: #E6EEFA;
  overflow: hidden;
  position: absolute;
  top: 5px;
  right: 5px;
  line-height: 32px;
  text-align: center;
  color: #188EEE;
}
.profile-container .modal-content .modal-body .simple-input .file-btn-container input {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}
