
<!DOCTYPE HTML>
<html>
<head>
    <title>后台管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="__PUBLIC__/assets/css/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/assets/css/bui-min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/assets/css/main-min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/assets/js/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/assets/js/bui-min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/assets/js/common/main-min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/assets/js/config-min.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-responsive.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css"/>
    <script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/jquery.sorted.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/ckform.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/echarts.js"></script>

</head>
<body>
<!--顶部信息导航栏-->
<block name="header">
    <div class="header">
        <div class="dl-title">
            <!--<img src="/chinapost/Public/assets/img/top.png">-->
        </div>

        <div class="dl-log">欢迎您，<span class="dl-log-user">root</span><a href="{:U('admin/index/logout')}" title="退出系统" class="dl-log-quit">[退出]</a>
        </div>
    </div>
    <div class="dl-main-nav">
        <div class="dl-inform"><div class="dl-inform-title"><s class="dl-inform-icon dl-up"></s></div></div>
        <ul id="J_Nav"  class="nav-list ks-clear">
            <li class="nav-item dl-selected"><div class="nav-item-inner nav-home">后台管理系统</div></li>
            <!--<li class="nav-item dl-selected"><div class="nav-item-inner nav-order">业务管理</div></li>-->
        </ul>
    </div>
</block>

<!--左侧菜单栏-->
<block name="left">

</block>

<!--右侧内容区-->
<block name="content">

</block>

</body>
</html>